# fly.toml app configuration file generated for tiktok-bot on 2025-12-07T08:31:55Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tiktok-bot'
primary_region = 'iad'

[build]
  dockerfile = "Dockerfile"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
